form {
  border: 1px solid red;
  max-width: 500px;
}

.container__name {
  margin: 20px;
}

.container__pass {
  margin: 20px;
}

.container__phone {
  margin: 20px;
}

.button {
  margin: 20px;
  color: white;
  background: blue;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
